http:
  middlewares:
    crowdsec:
      plugin:
        bouncer:
          enabled: true
          logLevel: DEBUG
          updateIntervalSeconds: 60
          updateMaxFailure: 0
          defaultDecisionSeconds: 60
          remediationStatusCode: 403
          httpTimeoutSeconds: 10
          crowdsecMode: live
          crowdsecAppsecEnabled: true
          crowdsecAppsecHost: 192.168.1.127:7422
          crowdsecAppsecPath: "/"
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true
          crowdsecAppsecBodyLimit: 10485760
          crowdsecLapiKey: 9jZ2MgYyKNNwNcKmjvUcdhJONDt09IKTmrE9DHSRrws
          crowdsecLapiScheme: http
          crowdsecLapiHost: 192.168.1.127:8080
          crowdsecLapiPath: "/"
          crowdsecLapiTLSInsecureVerify: false
          crowdsecCapiScenarios:
          - crowdsecurity/http-path-traversal-probing
          - crowdsecurity/http-xss-probing
          - crowdsecurity/http-generic-bf
          forwardedHeadersCustomName: "CF-Connecting-IP"
          forwardedHeadersTrustedIPs:
          - 173.245.48.0/20
          - 103.21.244.0/22
          - 103.22.200.0/22
          - 103.31.4.0/22
          - 141.101.64.0/18
          - 108.162.192.0/18
          - 190.93.240.0/20
          - 188.114.96.0/20
          - 197.234.240.0/22
          - 198.41.128.0/17
          - 162.158.0.0/15
          - 104.16.0.0/13
          - 104.24.0.0/14
          - 172.64.0.0/13
          - 131.0.72.0/22
          - 173.245.48.0/20
          - 103.21.244.0/22
          - 103.22.200.0/22
          - 103.31.4.0/22
          - 141.101.64.0/18
          - 108.162.192.0/18
          - 190.93.240.0/20
          - 188.114.96.0/20
          - 197.234.240.0/22
          - 198.41.128.0/17
          - 162.158.0.0/15
          - 104.16.0.0/13
          - 104.24.0.0/14
          - 172.64.0.0/13
          - 131.0.72.0/22
          clientTrustedIPs:
          - 192.168.1.0/24
    local-ipWhiteList:
      IPAllowList:
        sourceRange: [ "192.168.1.0/24" ]
  serversTransports:
    internal-skip-verify:
      insecureSkipVerify: true
  routers:
    teleport-tcp:
      entryPoints:
      - websecure
      - web
      rule: Host(`teleport.datrollout.dev`)
      service: teleport
      tls:
        certResolver: letsencrypt
    sonarqube-tcp:
      entryPoints:
      - websecure
      - web
      rule: Host(`sonarqube.datrollout.dev`)
      service: sonarqube
      tls:
        certResolver: letsencrypt
    loki-healthcheck:
      entryPoints: [ "web", "websecure" ]
      service: loki
      rule: Host(`loki.datrollout.dev`) && Path(`/metrics`)
      tls:
        certResolver: letsencrypt
    prometheus-healthcheck:
      entryPoints: [ "web", "websecure" ]
      service: prometheus
      rule: Host(`prometheus.datrollout.dev`) && Path(`/-/healthy`)
      tls:
        certResolver: letsencrypt
    gitlab-healthcheck:
      rule: Host(`gitlab.datrollout.dev`) && Path(`/-/liveness`) && Query(`token`, `wyBB2CFMykPhWLU_FExX`)
      priority: 100
      service: gitlab@docker
      tls:
        certResolver: letsencrypt
      entryPoints:
      - web
      - websecure
  services:
    prometheus:
      loadBalancer:
        servers:
        - url: http://192.168.30.4:9090
    loki:
      loadBalancer:
        servers:
        - url: http://192.168.30.21:3100
    sonarqube:
      loadBalancer:
        servers:
        - url: http://192.168.1.125:9000
    teleport:
      loadBalancer:
        serversTransport: internal-skip-verify
        passHostHeader: true
        servers:
        - url: https://192.168.1.122:3080
