# yaml-language-server: $schema=https://www.schemastore.org/traefik-v3.json
ping:
  entryPoint: 'web'
accessLog:
  filters:
    minDuration: "10ms"
    retryAttempts: true
    statusCodes:
    - "400-599"
  fields:
    defaultMode: keep
    names:
      StartUTC: drop
    headers:
      defaultMode: keep
      names:
        X-Real-IP: keep
        X-Forwarded-For: keep
metrics:
  prometheus:
    addRoutersLabels: true
    addServicesLabels: true
entryPoints:
  ssh:
    address: ":22"
  web:
    address: ":30080"
  websecure:
    address: ":30443"
    observability:
      accessLogs: true
      metrics: true
    http:
      middlewares:
      - crowdsec@file
      redirections:
        entryPoint:
          to: websecure
          scheme: https
    forwardedHeaders:
      trustedIPs:
      - 173.245.48.0/20
      - 103.21.244.0/22
      - 103.22.200.0/22
      - 103.31.4.0/22
      - 141.101.64.0/18
      - 108.162.192.0/18
      - 190.93.240.0/20
      - 188.114.96.0/20
      - 197.234.240.0/22
      - 198.41.128.0/17
      - 162.158.0.0/15
      - 104.16.0.0/13
      - 104.24.0.0/14
      - 172.64.0.0/13
      - 131.0.72.0/22
log:
  level: INFO
api:
  insecure: true
providers:
  docker:
    exposedByDefault: false
  file:
    filename: "/etc/traefik/dynamic.yaml"
    watch: true
certificatesResolvers:
  letsencrypt:
    acme:
      email: ngovuminhdat@gmail.com
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: cloudflare
        # Used to make sure the dns challenge is propagated to the rights dns servers
        resolvers:
        - "1.1.1.1:53"
        - "1.0.0.1:53"
experimental:
  plugins:
    bouncer:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.5.0"
